.inbox{
    height:80vh;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inbox-header{
    display: flex;
    justify-content: center;
    align-items: center;

}
.inbox-body{
    background-color: beige;
    width:50%;
    height:100%;
    /* overflow-y: hidden; */
    overflow-y: scroll;
    border-radius: 20px;

}
.chat-list{
    /* margin:10px; */
    /* border: 1px solid rgb(155, 73, 73); */
    height:700px;
    /* border-radius: 10px; */
    
    
}

.inbox-body::-webkit-scrollbar {
    display: none;
  }
  
.headers{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
}

.individual-chat{
    border-top: 3px solid rgb(189, 186, 186);
    margin:0px 10px 0px 10px;
    padding:15px 0px 0px 15px
}
.tops{
    border-bottom: 1px solid black;
}
@media  screen and (max-width: 800px) {
    .inbox-body{
        background-color: beige;
        width:95%
    }
    
  }