nav{
   
    text-decoration: none;
    text-emphasis: none;
    z-index: 100;
    
}
Link{
    text-decoration: none;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    
}